@page
@model Boglistesystem.Pages.KoordinatorPage.SemestreModel
@{
}

<div class="custom-container">
    <div class="custom-form-2">
        <h1 class="fw-light" style="text-align: center">Semestre</h1>
        <p class="lead text-muted" style="text-align: center">Som koordinator kan du på denne side <a asp-page="Create" class="">opret semestre</a> og slette semestre som ikke længer eksistere på skolen.</p>
        @*<a asp-page="Create" class="w-100 btn btn-lg btn-dark">Opret Underviser</a>*@
    </div>
    <div class="container" style="width: 800px; margin: auto">
        <div class="row g-3 justify-content-center px-10">
            <table class="table border bg-white w-100">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Navn</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in @Model.semestres)
                    {
                        <tr>
                            <th scope="row">@Item.Semestre_id</th>
                            <td class="block">@Item.Navn</td>
                            <td style="width: 100px">
                                <a class="btn btn-sm btn-danger" asp-page="/KoordinatorPage/SemestrePage/Delete" asp-route-id="@Item.Semestre_id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                    </svg>
                                    <div class="ripple-container"></div>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


