@page
@model Boglistesystem.Pages.KoordinatorPage.SemestrePage.UpdateModel
@{
}

<div class="custom-container">
    <div class="custom-form">
        <h1 class="fw-light" style="text-align: center; margin-bottom: 20px">Opdater Semester</h1>
        <form method="post">
            <div asp-validation-summary=" ModelOnly" class=" text-danger">
            </div>
            <input hidden asp-for="@Model.Semestre.Semestre_id" class="form-control" />
            <div class="form-floating mb-2">
                <input asp-for="@Model.Semestre.Navn" class="form-control" />
                <label asp-for="@Model.Semestre.Navn" class=" control_label"></label>
                <span asp-validation-for="@Model.Semestre.Navn " class=" text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem Ændring" class="w-100 btn btn-lg btn-dark" />
            </div>
        </form>
    </div>
</div>
